<!DOCTYPE html>
<html lang="en">
    <head>
    <link rel="stylesheet" type="text/css" href="./style/style-0.0.4.css">
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">

    <title>{{date}} {{name}}</title>
    <meta name="description" content="writings">
    <meta name="author" content="zac">
    </head>
    <body>
        <header>
            zac's writing
        </header>
        <nav>
            <a href="/writing/">Writing</a>
            <a href="/">About</a>
        </nav>
        <article>
            <h1>{{date}} {{name}}</h1>
            {{> content}}
        </article>
    </body>
</html>